<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">What is Tecvity?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/1.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>May 2022</h4>
                <h4 class="subheading">The Idea Behind Tecvity</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The idea for Tecvity came about when I realized the need for a
                  company that could provide expert software services to create
                  custom, user-friendly solutions for businesses of all sizes. I
                  wanted to help bring people's ideas to life.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/2.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>June 2022</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The idea for Tecvity was born from a desire to provide various
                  software services under one roof. We launched Tecvity with a
                  mission to empower businesses through innovative and effective
                  solutions.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>September 2022</h4>
                <h4 class="subheading">Our First Client</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  We were thrilled to land our first client. They were extremely
                  impressed by the level of professionalism and expertise
                  demonstrated by our team. They stated that our services were
                  the best they had ever received and we knew that Tecvity was
                  on the right path to success.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/4.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Tecvity Today!</h4>
                <h4 class="subheading">Expansion of Services</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  As we progressed, we expanded our services and capabilities to
                  cater to various niches. Today, Tecvity is proud to offer a
                  wide range of software solutions for businesses of all sizes.
                  From web and mobile app development to cybersecurity, we have
                  the expertise and resources to deliver innovative and
                  effective solutions.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
