<div class="container-fluid">
  <div class="w3 row">
    <h1 class="w3-center p-3 mb-2 bg-success text-white" id="w3-center">
      Featured Work
    </h1>
  </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="/assets/images/portfolio/terravirtua.jpg"
          alt="Terra Virtua"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Terra Virtua</h5>
          <p>An NFT Marketplace</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="/assets/images/portfolio/dinghysailing.jpg"
          alt="Dinghysailing"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Dinghysailing</h5>
          <p>A Blog for Dinghy Hobbyists</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="/assets/images/portfolio/techontap.jpg"
          alt="TechOnTap"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>TechOnTap</h5>
          <p>
            A freelance platform built from scratch focusing a specific niche
            for client
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
