<head>
  <link rel="stylesheet" href="/assets/css/contact-form.css" />
</head>
<section id="tm-section-4" class="contact-us-section">
  <h1 class="w3-center p-3 mb-2 bg-success text-white" id="contact-heading">
    Contact Us!
  </h1>
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-12">
        <header><h15 class="tm-text-shadow"></h15></header>
      </div>
    </div>

    <div class="row ">
      <div class="column">
        <form
          role="form"
          action="https://docs.google.com/forms/d/e/1FAIpQLSdf58Yu2DqJ8vo5nq6Ag8XToOvJMCOu2uTmGqHcAVMeQebyvA/formResponse?embedded=true"
          method="post"
          class="contact-us-form"
        >
          <legend>How can we help you?</legend>
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input
              type="text"
              id="contact_name"
              name="entry.2005620554"
              class="form-control"
              required=""
            />
          </div>
          <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>

            <input
              type="email"
              id="contact_email"
              name="entry.1120180646"
              class="form-control"
              required=""
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="Message" class="form-label">Message</label>
            <textarea
              id="contact_message"
              name="entry.839337160"
              class="form-control"
              rows="9"
              required=""
            ></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
