<head>
  <link rel="stylesheet" href="assets/css/navbar.css" />
</head>
<header>
  <div class="toggle-btn" onclick="myFunction();">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <a class="navbar-brand" href="/index.html">
      <img src="/assets/images/logo.png" alt="logo" class="logo" />
    </a>
    <nav id="nav" >
      <ul>
        <li>
          <a style="text-decoration: none" href="/index.html">Home</a>
        </li>
        <li>
          <a style="text-decoration: none" href="/pages/about.html">About</a>
        </li>
        <li>
          <a style="text-decoration: none" href="/pages/services.html"
            >Services</a
          >
        </li>
        <li>
          <a style="text-decoration: none" href="#w3-center">Portfolio</a>
        </li>

        <button
          class="button-40"
          role="button"
          type="button"
          onclick="location.href='#tm-section-4'"
        >
          Contact Now
        </button>
      </ul>
    </nav>
  </div>
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img src="/assets/images/logo.png" alt="logo" class="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/pages/about.html">About</a>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
</header>
