<head>
  <link rel="stylesheet" href="/assets/css/offerings.css" />
</head>
<div class="container-md offerings">
  <h1>What Tecvity Offers</h1>

  <div class="row row-cols-auto">
    <a
      style="text-decoration: none"
      href="/pages/services/UI-UX.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-object-group"></i>
        <h2>User Interface & Experience (UI/UX)</h2>
        <p></p>
      </div>
    </a>

    <a
      style="text-decoration: none"
      href="/pages/services/web-development.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-code"></i>
        <h2>Web Development</h2>
        <p></p>
      </div>
    </a>
    <a
      style="text-decoration: none"
      href="/pages/services/mobile-dev.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-mobile-screen-button"></i>
        <h2>Mobile App Development</h2>
        <p></p>
      </div>
    </a>
    <a
      style="text-decoration: none"
      href="/pages/services/graphic-designing.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-palette"></i>
        <h2>Graphic Designing</h2>
        <p></p>
      </div>
    </a>
  </div>
  <div>
    <a style="text-decoration: none" href="/pages/services.html">
      <button class="button-41" role="button" type="button">
        More Services ➢
      </button>
    </a>
  </div>

</div>
