<head>
  <link rel="stylesheet" href="/assets/css/offerings.css" />
</head>
<div class="container-fluid offerings">
  <h1>What Tecvity Offers</h1>
  <!-- <div class="row">
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Columns with icons</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection" />
            </svg>
          </div>
          <h3 class="fs-2">Featured title</h3>
          <p>
            Paragraph of text beneath the heading to explain the heading. We'll
            add onto it with another sentence and probably just keep going until
            we run out of words.
          </p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#people-circle" />
            </svg>
          </div>
          <h3 class="fs-2">Featured title</h3>
          <p>
            Paragraph of text beneath the heading to explain the heading. We'll
            add onto it with another sentence and probably just keep going until
            we run out of words.
          </p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2" />
            </svg>
          </div>
          <h3 class="fs-2">Featured title</h3>
          <p>
            Paragraph of text beneath the heading to explain the heading. We'll
            add onto it with another sentence and probably just keep going until
            we run out of words.
          </p>
          <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">UI/UX</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="/assets/images/pages/mobile.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Mobile Development</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->
  <div class="row">
    <a
      style="text-decoration: none"
      href="/pages/services/UI-UX.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-object-group"></i>
        <h2>User Interface & Experience (UI/UX)</h2>
        <p></p>
      </div>
    </a>

    <a
      style="text-decoration: none"
      href="/pages/services/web-development.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-code"></i>
        <h2>Web Development</h2>
        <p></p>
      </div>
    </a>
    <a
      style="text-decoration: none"
      href="/pages/services/mobile-dev.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-mobile-screen-button"></i>
        <h2>Mobile App Development</h2>
        <p></p>
      </div>
    </a>
    <a
      style="text-decoration: none"
      href="/pages/services/graphic-designing.html"
      class="serviceColor"
      id="serviceColor"
    >
      <div class="service">
        <i class="fa-solid fa-palette"></i>
        <h2>Graphic Designing</h2>
        <p></p>
      </div>
    </a>
  </div>
  <div>
    <a style="text-decoration: none" href="/pages/services.html">
      <button class="button-41" role="button" type="button">
        More Services ➢
      </button>
    </a>
  </div>
</div>
