<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">
          We provide top-notch services to our clients in following areas and
          more!
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Web & Mobile App Development</h4>
        <p class="text-muted">
          Tecvity offers expert web and mobile app development services to
          create custom, user-friendly solutions for businesses of all sizes.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-photo fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">UI/UX Designing</h4>
        <p class="text-muted">
          Transform your digital presence with Tecvity's UI/UX design. Our team
          creates stunning, intuitive designs for optimal user experience and
          conversions.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Custom Software Development</h4>
        <p class="text-muted">
          Unlock your company's full potential with Tecvity's custom software
          development services. Our team creates tailored solutions to meet your
          unique business needs.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Graphic Designing</h4>
        <p class="text-muted">
          Make a lasting impression with Tecvity's Graphic Design services. We
          create visually stunning designs for branding, print, digital and more
          to elevate your business.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-server fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">DevOps/DevSecOps</h4>
        <p class="text-muted">
          Achieve optimal performance and reliability with Tecvity's DevOps
          services. We provide automation, scalability and security solutions
          for smooth software delivery.
        </p>
      </div>

      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Cyber Security</h4>
        <p class="text-muted">
          Protect your business with Tecvity's Cyber Security services. We
          provide solutions for threat detection, incident response, and
          penetration testing to keep your data secure.
        </p>
      </div>
    </div>
  </div>
</section>
