.contact-us-section {
  max-width: 100%;
  width: auto;
  background-image: linear-gradient(144deg, #06a813, yellowgreen 50%, #059b00);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 8px;
}

#contact-heading{
  margin-top: 10px;
}
