/* CSS of  button within navbar green limegreen */
.button-40 {
  background-color: limegreen;
  border: 1px solid transparent;
  border-radius: 0.1rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-height: 30px;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: lime;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (max-width: 1100px) {
    .toggle-btn {
      display: block;
    }
    nav {
      display: none;
      width: 100%;

      padding-top: 20px;
      margin-top: 30px;
    }
    nav ul li {
      padding: 15px 0px;
      width: 100%;
    }
    nav.show {
      display: block;
    }

    nav {
      float: right;
      text-align: right;
      word-spacing: 70px;
      background: rgba(0, 0, 0, 0);
    }

    nav ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    nav li {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 5px;
      position: relative;
    }

    nav a {
      color: black;
      text-decoration: none;
      display: inline-block;
    }

    nav a:hover {
      color: green;
    }

    nav a::before {
      content: "";
      display: block;
      height: 2px;
      background-color: limegreen;
      position: absolute;
      top: 0;
      width: 0%;
      transition: all ease-in-out 150ms;
      margin-top: -15px;
    }

    nav a:hover::before {
      width: 100%;
    }
  }

  nav {
    float: right;
    text-align: right;
    word-spacing: 70px;
    background: rgba(0, 0, 0, 0);
  }

  nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    position: relative;
  }

  nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
  }

  nav a:hover {
    color: green;
  }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background-color: limegreen;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 150ms;
    margin-top: -15px;
  }

  nav a:hover::before {
    width: 100%;
  }

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}
